/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
 line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Custom style  */
.container{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
    padding: 0 1.5rem; 
}
.flex{
    display: flex;
    
}
  /* Flex */

  .flex {
    display: flex;
  }
  
  /* Justify Content */

  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  /* Align Items */

  .align-start {
    align-items: flex-start;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-baseline {
    align-items: baseline;
  }
  
  /* Align Content */
  .align-content-start {
    align-content: flex-start;
  }
  
  .align-content-end {
    align-content: flex-end;
  }
  
  .align-content-center {
    align-content: center;
  }
  
  .align-content-stretch {
    align-content: stretch;
  }
  
  .align-content-around {
    align-content: space-around;
  }
  
  .align-content-between {
    align-content: space-between;
  }
  
  /* Flex Wrap */

  .flex-wrap-yes {
    flex-wrap: wrap;
  }
  
  .flex-wrap-no {
    flex-wrap: nowrap;
  }
  
  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  /* Flex Direction */

  .flex-direction-column {
    flex-direction: column;
  }
  
  .flex-direction-column-reverse {
    flex-direction: column-reverse;
  }
  
  .flex-direction-row {
    flex-direction: row;
  }
  
  .flex-direction-row-reverse {
    flex-direction: row-reverse;
  }
  
  /* Align Self */

  .align-self-start {
    align-self: flex-start;
  }
  
  .align-self-end {
    align-self: flex-end;
  }
  
  .align-self-center {
    align-self: center;
  }
  
  .align-self-auto {
    align-self: auto;
  }
  
  .align-self-stretch {
    align-self: stretch;
  }
  
  .align-self-baseline {
    align-self: baseline;
  }
  
  /* Flex basis */
  
  .flex-100 {
    flex: 0 1 100%;
  }
  
  .flex-80 {
    flex: 0 1 80%;
  }
  
  .flex-75 {
    flex: 0 1 75%;
  }
  
  .flex-70 {
    flex: 0 1 70%;
  }
  
  .flex-69 {
    flex: 0 1 69%;
  }
  
  .flex-60 {
    flex: 0 1 60%;
  }
  
  .flex-59 {
    flex: 0 1 59%;
  }
  
  .flex-50 {
    flex: 0 1 50%;
  }
  
  .flex-49 {
    flex: 0 1 49%;
  }
  
  .flex-40 {
    flex: 0 1 42%;
  }
  
  .flex-33 {
    flex: 0 1 33%;
  }
  
  .flex-30 {
    flex: 0 1 30%;
  }
  
  .flex-25 {
    flex: 0 1 25%;
  }
  
  .flex-20 {
    flex: 0 1 20%;
  }

   .flex-15 {
    flex: 0 1 15%;
  }

   .flex-10 {
    flex: 0 1 10%;
  }
  body{
    font-family: 'Inter', sans-serif;
  }
  /* Header */
  .flex li {
      margin-left: 1rem;
      color: #FFFFFF;
  }
  strong{
      color: #FFFFFF;
      font-size: 2rem;
  }
  .top {
      padding-top: 1.2rem;
  }
  header{
    background-color: #59BFC2;
      height: 99vh;
      text-align: center;
  }
  h1{
      color: #FFFFFF;
      font-size: 3rem;
      padding-top: 3.7rem;
  }
  .btn{
      background-color: #FFFFFF;
      border: none;
      border-radius: 4px;
      padding: 1rem 3rem;
      color: blue;
      font-size: 1rem;
      font-weight: 700;
      margin-top: 1.7rem;
  }
  .files{
      margin-top: 250px;
      margin-bottom: 5rem;
  }
  .flex a{
      text-decoration: none;
      display: flex;
      align-items: center;
      color:  gray;
      font-weight: 900;
      font-size: 1.7rem;
    
  }
  .flex a img {
      margin-right: .6rem;
  }
  .line{
    
    border-bottom: 2px solid gray;
    margin-bottom: 4rem;

     
  }
  article > h2 {
      color: #314377;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 1.3;
      padding-top: 1rem;
  }
  article > p{
      color: gray;
      font-size: 1.2rem;
     font-weight: 500;
     padding-top: 1.5rem;
     line-height: 1.4;
  }

  h4{
      text-align: center;
      color: #314377;
      font-size: 1.9rem;
      font-weight: 800;
  }
  .table{
      padding-top: 4rem;
  }
  table{
      border: 2px solid gray;
       width: 100%;
      margin: 0 auto ; 
    margin-top: 2rem;
  }
  td{
      border: 2px solid gray;
      padding: 10px 33px;
      
  }
  th{
    padding: 10px 33px;
    text-align: left;
    background-color: #3D9EA1;
  }
  tr:nth-child(2n+1){
      background-color: #D5E5E5;
  }

  .circle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #59BFC2;
     display: flex;
    
    justify-content: space-around; 
    align-items: center;
    margin-right: .3rem; 
  }
  .toggle{
    width: 4rem;
    height:1.6rem;
    background-color: royalblue;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem;
    
  }
  .line2{
    
    height: .6rem;
    width: .3rem;
    background-color:white;
    /* display: flex;
    align-items: center; */
    
  }
  h5{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #314377;
    padding-top: 4rem;
    padding-bottom: 1.4rem;
  }
  .toggle-btn{
    display: flex;
    align-items: center;
    
  }
  .abd{
    
    display: flex;
    justify-content: center;
    
  }
  span{
    font-size: 1.2rem;
    font-weight: 700;
    color: #314377;
  }
  .basic{
    border: 3px solid #E8EEFB;
   border-radius: 1rem;
    text-align: center;
    padding: 1rem;
  }
  
  .charges::before{
    content: "$";
    font-size: 1rem;
    margin-right: .4rem;
    color: #59BFC2;
    
  }
  .charges::after{
    content: "/ Month";
    font-size: 1rem;
    margin-left: .5rem;
    color: #7689B3;
  }
  .charges{
    font-size: 2.6rem;
    color: #59BFC2;
  }
  .line-3{
    border-bottom: 2px solid gray;
  }
  .course-list a{
    font-size: 1rem;
    font-weight: 500;
    color: #314377;

  }
  .course-list i{
    margin-right: 1rem;
    

  }
  .fa-check{
    color: green;
  }
  .fa-times{
    color: red;
  }
  .basic-btn{
    width: 90%;
     padding: .8rem 0; 
  border: 2px solid gray;
    border-radius: 5px;
    color: #314377;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
    background-color: transparent;
  }
  .basic h6{
    color: #314377;
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 2rem;
  }
  .basic p {
   color: #7689B3;
   font-size: 1.3rem;
  }
  .course-list{
    margin-top: 1.2rem;
  }
  .course-list li {
    margin-bottom: 1rem;
  }
  .active{
    background-color: #59BFC2;
    color: #FFFFFF;
    border: none;
  }
  .basic-section{
    margin: 3rem 1rem;
  }
  .trail-section {
    background-color: #3D9EA1;
    height: 200px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .get-btn{
    width: 20%;
    padding: 1rem 0;
    color: #314377;
    border-radius: .4rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
  }
  .trail-section p{
    color: #FFFFFF;
    font-size: 1.8rem;
    padding:1rem 1rem;
  }
  /* footer*/
  .flex-15 h4{
    font-weight: 600;
    margin-right: 2rem;

  }
  .flex-15 li{
    color: gray;
    margin: 1rem auto;
  }
  .flex-15 p {
    font-size: 1rem;
    padding-top: 0;
    padding: 1rem 0;
  
  }
  .flex-15 strong{
    color: #314377;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .fab{
    background-color: #59BFC2;
    padding: 1rem;
    border-radius: 50%;
    font-size: .91rem;
    color: #FFFFFF;
  }
  footer{
    margin: 2rem 0;
  }

  /* media query */
  @media only screen and  (max-width:760px) {
     
    
    .ms-flex-100{
      flex : 0 1 100%;
      
    }
    .ms-wrap{
      flex-wrap: wrap;
    }
    .img-logo{
      width: 90%;
    }
    .ms-column{
      flex-direction: column;
    }
    .files{
      margin-top: 1rem;
    }
    .graph{
      width: 90%;
    }
  }